-Dteyvatexp.util.version=0.0.1
-Dteyvatexp.authorization_server.core.version=0.0.1
-Dteyvatexp.authorization_server.dto.version=0.0.1
-Dteyvatexp.authorization_server.app.version=0.0.1
-Dteyvatexp.authorization_server.api.version=0.0.1
-Dteyvatexp.authorization_server.storage.version=0.0.1
-Dmapstruct.version=1.6.3
