@font-face {
    font-family: "Signika Regular";
    src: url("/fonts/Signika-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Signika Light";
    src: url("/fonts/Signika-Light.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Signika Regular", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ECDFCC;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/images/back1920_1080color.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}